/*resuable content*/

/*scroll bar*/
div.scroll1{
  height: 385px;
  background-color: whitesmoke;
  overflow: scroll;
  width: 50%;
  max-width: 500px;
  margin-left:0;
  padding: 0.2em;
  font: 100%/1.4 serif;
  border: 1px solid rgba(0,0,0,0.25);
  float: left;
}

div.hidden {
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.panel-info {
    width: 50%;
    float:left;
    margin-left: 5%;
}


/***************************/

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px; 
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    
}



/*content*/
.user-profile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../images/moutain.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.user-profile div {
    margin-bottom: 15px;
}

.user-profile h3{
    color:#FFFFFF;
}

.user-profile h2{
    color:#FFFFFF;
}

.welcome {
    padding-left: 12%;
    position:center;
    margin-top: 0px;
    margin-bottom:50px;
    width: 100%;
}



.user-profile {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 40%;
    padding-top:70px;
    padding-bottom: 185.4px;
}

.username {
    display:inline;
}

.username-content {
    display: inline;
}

.level {
    display:inline;
}

.level-content {
    display:inline;
}

.points {
  display:inline;  
}


.points-content {
    display: inline;
}

/*任务列表*/
.task {
    clear:both;
    margin-left: 10%;
    background-color: #f4f4f4;
    margin-bottom: 350px;
}

.task ul {
    margin-top:30px;
    list-style: none;
    padding-left: 0;
}

.task ul li{
    margin-bottom: 5px;
    text-decoration-color: #956295;
}

.task ul li i {
    color:#e67e22;
    font-size: 150%;
    margin-right: 5px;
}

.task ul li a{
    color:mediumpurple;
    font-size: 130%;
    margin-right: 5px;
}

.task-content h3:after {
    display: block;
    height: 2px;
    background-color: #956295;
    content: " ";
    width: 120px;
    margin-top: 30px;
}

.select-task {
    margin-bottom: 120px;
    margin-left: 10%;
}

.select-task textarea {
    border: 1px solid #888;
    display: block;
}

.task-detail {
    margin-top :30px;
    padding-left: 20%;

}

.select-task-title {
    display: inline;
    width:10%;
    float: left;
}
.select-task-title h4 {
    padding-right: 30px;
    font-size: 130%;
    color:#956295;
    align:center;
    margin-bottom: 15px;
    
}

.title2 {
  margin-top:30px;   
}

.title3 {
    margin-top:30px;
}

.title4 {
    margin-top:35px;
}

.task-detail {
    display:inline; 
    float: left;
    width: 10%;
    margin-left: -100px;
    margin-top:-5px;
}

.task-detail textarea {
    margin-bottom: 5px;
}

.description {
    margin-left: 60%;
}

.description p {
    margin-bottom: 30px;
    color:green;
    font-size:80%;
}

.guide-p2 {
    margin-top:32px;
}

.guide-p3 {
    margin-top: 34px;
}
.guide-p4 {
    margin-top: 40px;
}

.select-task-tile {
    padding-top: 150px;
    margin-bottom: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/green%20grass.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom:50px;
}

.select-task-tile h3 {
    text-align: center;
    margin-left: -9%;
    margin-top:-90px;
    color:chartreuse;
    float: inherit;   
}

/*接受任务按钮*/

/*note that on the button should change accordingly to the status of the task */

.task-bottom-section {
    margin-top:-50px;
    width: 100%;
    padding-left:17%;
    margin-bottom: 50px;
}

.linka {
    margin-left: 0%;
    margin-bottom: 10px;
}

.task-accept-message {
    font-size:80%;
    color: green;
    margin-left: 5%;
    margin-top:10px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #956295;
    border: 1px solid #956295;
    color: #fff;
    margin-right: 15px;
}

.btn-full:hover,
.btn-full:active{
    background-color: #e67e22;
    text-decoration-color: white;
}




.btn-full2:visited,
.btn-full2:link{
    text-decoration: none;
    background-color: skyblue;

}

.task-title {
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom:30px;
}
