<% include header.html %>

    
<div class="user-profile">
    <div class="welcome">
        <h2>欢迎</h2>
    </div>
    <div>
        <h3 class="username">用户名：</h3>
        <h3 class="username-content">HelloWorld</h3>
    </div>
    <div>
        <h3 class="points">积分：</h3>
        <h3 class= "points-content">50</h3>
    </div>
    <div>
        <h3 class="level">等级：</h3>
        <h3 class="level-content"> 新手</h3>
    </div>  
</div>    

<div class = "task">
    <div class="span-1-of-3 col task-content">
        <h3>未领取任务</h3>
         <ul>
            <li>
                <i class="ion-settings"></i>
                <a href="#">锄草</a>
             </li>
            <li>
                <i class="ion-settings"></i>
                <a href="#">锄草</a>
             </li>
            <li>
                <i class="ion-settings"></i>
                <a href="#">锄草</a>
             </li>
            <li>
                <i class="ion-settings"></i>
                <a href="#">锄草</a>
             </li>
            <li>
                <i class="ion-settings"></i>
                <a href="#">锄草</a>
            </li>
        </ul>
    </div>
    <div class="span-1-of-3 col task-content">
        <h3>进行中任务</h3>
        <ul>
            <li>
                <i class="ion-clock"></i>
                <a href="#">锄草</a>
             </li>
            <li>
                <i class="ion-clock"></i>
                <a href="#">锄草</a>
             </li>
            <li>
                <i class="ion-clock"></i>
                <a href="#">锄草</a>
             </li>
            <li>
                <i class="ion-clock"></i>
                <a href="#">锄草</a>
             </li>
            <li>
                <i class="ion-clock"></i>
                <a href="#">锄草</a>
            </li>
    </div>
    <div class="span-1-of-3 col task-content">
        <h3>已完成任务</h3>
         <ul>
            <li> <i class="ion-checkmark"></i>
                <a href="#">锄草</a>
            </li>
            <li>
                <li> <i class="ion-checkmark"></i>
                <a href="#">锄草</a>
            </li>
            <li>
                <li> <i class="ion-checkmark"></i>
                <a href="#">锄草</a>
            </li>
            <li>
                <li> <i class="ion-checkmark"></i>
                <a href="#">锄草</a>
            </li>
            <li>
                <li> <i class="ion-checkmark"></i>
                <a href="#">锄草</a>
            </li>
        </ul>
        </ul>
    </div>
</div>    

<div class="select-task-tile">
    <h3>选中任务详情</h3>
</div>
    
<div class="select-task">

    <div class="select-task-title">
        <h4 class="title1">任务标题</h4>
        <h4 class="title2">奖励分数</h4>
        <h4 class="title3">截止日期</h4>
        <h4 class="title4">任务介绍</h4>
    </div>
    <div class="task-detail">      
        <textarea  cols="50">
             title of the task
        </textarea>
        <textarea  cols="50">
            points
        </textarea>
            
        <textarea cols="50">
            due date
        </textarea> 
        <textarea rows="4" cols="50">
            description
        </textarea>
    </div>
    <div class= "description">
        <p class="guide-p1">这一栏是任务的标题</p>
        <p class="guide-p2">这一栏是任务的奖励分数，如果您完成任务可以得到这些分数</p>
        <p class="guide-p3">这一栏是任务的截止日期， 如果您未按期完成，系统会将任务指派给他人</p>
        <p class="guide-p4">这一栏是任务的的描述。包含任务的内容，所需的工具以及具体哪块田地里完成</p>
    </div>
</div>    

<div class= "task-bottom-section">
    <a class="btn btn-full" href="#">接受任务</a>
    <p class="task-accept-message">点击这个按钮意味着您愿意在规定的时间里完成任务</p>
</div>

<% include footer.html %>